<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>      
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/event_visualization</property>  
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">whitetiger137</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_
    sql">true</property>
	<property name="format_sql">true</property>
	<property name="hbm2ddl.auto">update </property>
	 <property name="hibernate.current_session_context_class">thread</property>
        
    <mapping class="net.codejava.hibernate.EventVisualization.User" />
    <mapping class="net.codejava.hibernate.EventVisualization.Admin" />
    <mapping class="net.codejava.hibernate.EventVisualization.bridge_show.Show" />
 	
  </session-factory>
</hibernate-configuration>